<template>
    <div class="slds-size_1-of-2">
        <lightning-card title="Line chart" icon-name="custom:custom20">
            <div class="slds-grid">
                <div class="slds-size_3-of-4"></div>
                <div class="slds-size_1-of-4">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="select-01">Showing last:</label>
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                            <select onchange={handlePeriodChange} class="slds-select" id="select-01">
                                <option value="1m">1 month</option>
                                <option value="3m">3 months</option>
                                <option value="6m">6 months</option>
                                <option value="1y">1 year</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="slds-grid">
                <div class="slds-size_3-of-4"></div>
                <div class="slds-size_1-of-4">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="select-01">Showing:</label>
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                            <select class="slds-select" id="select-02">
                                <option value="MG">Marco Gianciotti</option>
                                <option value="JJ">Jack Jones</option>
                                <option value="AS">Adam Smith</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>   
            <div>
                <c-chart chartdata={chartdata}></c-chart>
            </div>
        </lightning-card>
    </div>
</template>